<!doctype HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Boogle</title>
  <style>
    .container {
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
    h1 {
      font-size: 6rem;
    }
    input, button {
      font-size: 1.4rem;
    }

    .t1 {
      color: blue;
    }
    .t2 {
      color: green;
    }
    .t3 {
      color: yellow;
    }
    .t4 {
      color: red;
    }
    .t5 {
      color: orange;
    }
    .t6 {
      color: cyan;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1><span class="t1">B</span><span class="t2">o</span><span class="t3">o</span><span class="t4">g</span><span class="t5">l</span><span class="t6">e</span></h1>
    <p><input type="text" placeholder="Enter search term" size="36"></input>&nbsp;<button type="button">Search</button></p>
  </div>
</body>
</html>
