<!doctype html>
<html>
  <head>
    <title>FAKEBOOK</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/fakebook.css">
  </head>
    <body>
      <h1><img src="/static/img/fakebook/fakebook-logo.png" id="logo"><em>FAKEBOOK</em></h1>
      <form>
      <p>Search: <input id="search" placeholder="Enter a name"></p>
      </form>

      <h2 id="profilename">Cuddly von Bigears</h2>
      <img src="/static/img/fakebook/batman-robin.jpg" class="profilepic" width="30%">
      <p><button id="addfriend">Add a friend</button></p>

      <p><strong>City:</strong> <span class="category-response">Graz</span></p>
      <p><strong>Age:</strong> <span class="category-response">8 months</span></p>
      <p><strong>Education:</strong> <span class="category-response">Cats, the Musical</span></p>
      <p><strong>Hobby:</strong> <span class="category-response">Cuddling</span></p>
      <p><strong>FB friends:</strong> <span class="category-response">887266388495</span></p>
      <p><strong>FB enemies:</strong> <span class="category-response">0</span></p>
</body>
</html>
