<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello you little SmartNinja!</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Hello world</h1>
    <p>Lorem Ipsum Dolor</p>
    <p>Hier steht der Counter: {{ htmlzaehler }}</p>
    <p><a href="/">Index</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/portfolio">Portfolio</a></p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
</div>
</body>
</html>