<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Portfolio</h1>
        <p>Das ist das Portfolio mit den folgenden Dingen:<br>{{ anzeigetodos }}</p>
        <p><a href="/">Index</a></p>
        <p><a href="/about">About</a></p>
        <p><a href="/portfolio">Portfolio</a></p>
        <h2>Links to Sites:</h2>
        <p>Links open in new tab.</p>
        <ul>
            <li><a href="/portfolio/fakebook" target="_blank">Fakebook</a></li>
            <li><a href="/portfolio/boogle" target="_blank">Boogle</a></li>
            <li><a href="/portfolio/simpleshop" target="_blank">Simple Shop</a></li>
            <li><a href="/portfolio/shop" target="_blank">Shop</a></li>
            <li><a href="/portfolio/hans" target="_blank">Hairdresser Hans</a></li>
        </ul>
    </div>
</body>
</html>